<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes App</title>
    <link rel="stylesheet" href="../index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Notes App</h1>
    </header>
    <main>
      <div class="nav-container">
        <button class="open-nav" id="open">Open navbar</button>
        <nav class="navbar">
          <button class="close-nav" id="close">
            Close navbar <i class="bi bi-x-circle"></i>
          </button>
          <ul class="links-container">
            <li><a href="../index.html">Add notes</a></li>
            <li><a href="./completed.html">Completed</a></li>
            <li><a href="./incompleted.html">Incompleted</a></li>
          </ul>
        </nav>
      </div>
      <div class="notes-container-big">
        <h2>Pending notes</h2>
        <div class="notes-container-pending-page"></div>
      </div>
    </main>
    <footer>
       <p>Amazing app for notes management!</p>
    </footer>

  <dialog id="pop-up">
      <div class="dialog-content">
        <h2>Congratulations!</h2>
        <p class="text"></p>
        <i class="bi bi-x-circle-fill" id="close-modal"></i>
      </div>
    </dialog>

    <script src="pending.js" type="module"></script>
    <script src="../utils/navbar.js" type="module"></script>
    <script src="../utils/dialog.js" type="module"></script>
  </body>
</html>
